@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&family=Work+Sans:wght@400;600;700&display=swap");
* {
  font-family: "Space Grotesk", sans-serif;
}

body {
  margin: 0;
  font-size: 18px;
  background: hsl(0, 0%, 100%);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
}

.wrapper {
  min-height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100vh;
}

.bg-image img {
  position: absolute;
  z-index: -1;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
}
.cards-container .card-front-container, .cards-container .card-back-container {
  position: relative;
}
.cards-container .card-front-container .card-logo, .cards-container .card-front-container .card-number, .cards-container .card-front-container .card-name, .cards-container .card-front-container .card-date, .cards-container .card-front-container .cvc, .cards-container .card-back-container .card-logo, .cards-container .card-back-container .card-number, .cards-container .card-back-container .card-name, .cards-container .card-back-container .card-date, .cards-container .card-back-container .cvc {
  position: absolute;
  z-index: 1;
}
.cards-container .card-front-container .card-logo, .cards-container .card-back-container .card-logo {
  left: 2.5em;
  top: 1.5em;
}
.cards-container .card-front-container .card-number, .cards-container .card-back-container .card-number {
  left: 2em;
  top: 5em;
  margin: 0;
  letter-spacing: 3px;
  font-weight: 400;
}
.cards-container .card-front-container .card-name, .cards-container .card-back-container .card-name {
  font-size: 16px;
  left: 3.5em;
  top: 11.5em;
}
.cards-container .card-front-container .card-date, .cards-container .card-back-container .card-date {
  font-size: 16px;
  right: 2.5em;
  top: 11.5em;
}
.cards-container .card-front-container .cvc, .cards-container .card-back-container .cvc {
  right: 3em;
  color: hsl(0, 0%, 100%);
  top: 5em;
}
.cards-container .card {
  margin-left: 2em;
}
.cards-container .front {
  margin-left: 1em;
}
.cards-container .back {
  margin-left: 13em;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin-bottom: 3em;
}
.input-container input {
  margin-bottom: 0;
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 10px;
  padding: 0.7em;
  font-size: 18px;
}
.input-container .label {
  margin-bottom: 2%;
  margin-top: 2em;
}
.input-container button {
  background: hsl(278, 68%, 11%);
  border: none;
  color: white;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 18px;
  grid-column: 1/4;
  margin-top: 30px;
}
.input-container button:hover, .input-container button:focus {
  background: hsl(278, 68%, 20%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  letter-spacing: 3px;
  transform: translateY(-5px);
  transition: all 0.2s ease-out;
}
.input-container button:active {
  background: hsl(278, 68%, 11%);
  letter-spacing: 20px;
  transition: all 0.1s ease-out;
}
.input-container .date-container {
  display: grid;
  width: 100%;
  grid-template-columns: 23% 23% 45%;
  gap: 5%;
  grid-template-rows: 1fr;
}
.input-container .date-container .label-date {
  grid-column: 1/3;
}
.input-container .date-container .label-cvc {
  grid-column: 3/4;
}
.input-container .date-container #year {
  grid-column: 1;
  grid-row: 2;
}
.input-container .date-container #month {
  grid-column: 2;
  grid-row: 2/3;
}
.input-container .date-container #cvc {
  grid-column: 3;
  grid-row: 2;
}

::placeholder, ::-webkit-input-placeholder, ::-moz-placeholder {
  color: hsl(279, 6%, 55%);
  margin-left: 0.5em;
  font-size: 18px;
  font-weight: 500;
}

label {
  font-size: 0.7em;
}/*# sourceMappingURL=styles.css.map */