@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&family=Work+Sans:wght@400;600;700&display=swap");
* {
  font-family: "Space Grotesk", sans-serif;
}

body {
  margin: 0;
  font-size: 18px;
  background: hsl(0, 0%, 100%);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
}

.wrapper {
  min-height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100vh;
}

.bg-image img {
  position: absolute;
  z-index: -1;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
}
.cards-container .card-front-container, .cards-container .card-back-container {
  position: relative;
}
.cards-container .card-front-container .card-logo, .cards-container .card-front-container .card-number, .cards-container .card-front-container .card-name, .cards-container .card-front-container .card-date, .cards-container .card-front-container .cvc, .cards-container .card-back-container .card-logo, .cards-container .card-back-container .card-number, .cards-container .card-back-container .card-name, .cards-container .card-back-container .card-date, .cards-container .card-back-container .cvc {
  position: absolute;
  z-index: 1;
}
.cards-container .card-front-container .card-logo, .cards-container .card-back-container .card-logo {
  left: 2.5em;
  top: 1.5em;
}
.cards-container .card-front-container .card-number, .cards-container .card-back-container .card-number {
  left: 2em;
  top: 5em;
  margin: 0;
  letter-spacing: 3px;
  font-weight: 400;
}
.cards-container .card-front-container .card-name, .cards-container .card-back-container .card-name {
  font-size: 16px;
  left: 3.5em;
  top: 11.5em;
}
.cards-container .card-front-container .card-date, .cards-container .card-back-container .card-date {
  font-size: 16px;
  right: 2.5em;
  top: 11.5em;
}
.cards-container .card-front-container .cvc, .cards-container .card-back-container .cvc {
  right: 3em;
  color: hsl(0, 0%, 100%);
  top: 5em;
}
.cards-container .card {
  margin-left: 2em;
}
.cards-container .front {
  margin-left: 1em;
}
.cards-container .back {
  margin-left: 13em;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container form {
  margin-top: 50px;
  margin-right: 57px;
  height: 50vh;
  width: 50%;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min-content, 100px));
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 1em;
       column-gap: 1em;
  align-items: start;
}
.form-container form input {
  margin-bottom: 0;
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 10px;
  padding: 0.7em;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
}
.form-container form input:focus, .form-container form input:active {
  border-left-color: hsl(249, 99%, 64%);
  border-right-color: hsl(278, 94%, 30%);
  border-top-color: hsl(278, 94%, 30%);
  border-bottom-color: hsl(249, 99%, 64%);
  -o-border-image: solid;
     border-image: solid;
  border-width: 1px;
  outline: none;
}
.form-container form label {
  font-size: 0.7em;
  margin-bottom: 0.5em;
}
.form-container form .error {
  color: hsl(0, 100%, 66%);
  font-size: 12px;
  margin: 0;
  margin-top: 0.7em;
  text-transform: capitalize;
  display: block;
  margin-bottom: 1em;
}
.form-container form button {
  background: hsl(278, 68%, 11%);
  border: none;
  color: white;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 18px;
  grid-column: 1/5;
  grid-row: 4;
  letter-spacing: 2px;
  align-self: center;
}
.form-container form button:hover, .form-container form button:focus {
  background: hsl(278, 68%, 20%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  letter-spacing: 3px;
  transform: translateY(-5px);
  transition: all 0.2s ease-out;
}
.form-container form button:active {
  background: hsl(278, 68%, 11%);
  letter-spacing: 20px;
  transition: all 0.1s ease-out;
}
.form-container form .name-container, .form-container form .number-container {
  grid-column: 1/5;
  align-items: center;
}
.form-container form .cvc-container {
  grid-column: 3/5;
}
.form-container form .date-container {
  display: grid;
  grid-column: 1/3;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
}
.form-container form .date-container label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  grid-column: 1/3;
}
.form-container form .date-container #year {
  grid-column: 2/3;
}
.form-container form .date-container #month {
  grid-column: 1/2;
}
.form-container form .date-container .date-error {
  grid-column: 1/3;
}
.form-container form .date-error, .form-container form .cvc-error {
  grid-row: 4;
}
.form-container .error-border {
  border: solid 1px hsl(0, 100%, 66%);
}
.form-container .error-border:focus, .form-container .error-border:active {
  border: solid 1px hsl(0, 100%, 66%);
}

::placeholder, ::-webkit-input-placeholder, ::-moz-placeholder {
  color: hsl(279, 6%, 55%);
  margin-left: 0.5em;
  font-size: 18px;
  font-weight: 500;
}/*# sourceMappingURL=styles.css.map */