@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&family=Work+Sans:wght@400;600;700&display=swap');

:root {
    --dark-violet: hsl(278, 68%, 11%);
    --dark-gray-violet: hsl(279, 6%, 55%);
    --light-gray-violet: hsl(270, 3%, 87%);
    --white: hsl(0, 0%, 100%);
    --active-input-border: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --red-error: hsl(0, 100%, 66%);
}

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    background: var(--white);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    max-height: 100vh;
    width: fit-content;
    margin: auto;
}

.bg-image img{ 
    position: absolute;
    z-index: -1;
}

.cards-container {
    grid-row: 2;
    display: grid;
    gap: calc(2em, -10px);
}

.form-container {
    grid-row: 2;
    display: grid;
    align-items: center;
    justify-content: center;
}

.card-front-container {
    height: fit-content;
    display: flex;
    justify-content: center;
}

.card-back-container {
    height: fit-content;
}

.input-container {
    display: flex;
    align-items : flex;
    flex-direction: column;
    width: fit-content;
}

.input-container * {
    margin: 0.1em 0;
}

.input-container input {
    margin-bottom: 1em;
}
